.Account{
    width: 100%;
    height: 200vh;
    background-color: darkkhaki;
    font-family: 'Josefin Sans', sans-serif;
}
.account-body{
    width: 100%;
    height: 150vh;
    padding-top: 25vh;
    position: relative;
    z-index: 50;
    color: white;
}

.profile-pic-box{
    width: 100%;
    height: 15vw;  
    position: relative;
}


.profile-pic{
    width: 15vw;
    height: 100%;
    border-radius: 100%;
    background-color: rgb(187, 187, 187, 0.1); 
    align-items: center;
    margin-left: 42.5vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(46, 46, 46, 0.05);
}

#edit-propic{
    width: 30%;
    height: 3.5vh;
    overflow: hidden;
    margin: 5vh 35% 5vh 35%;
    position: relative;
    text-align: center;
    font-weight: 900;
    font-size: 15px;
}
.pic-action{   
    width: 100%;
    height: 100%;
    position: absolute;
}
#upload-photo {
    opacity: 0;  
    width: 100%;
    height: 100%;
}

/******************************************/
.profile{
    width: 30%;
    height: 50vh;
    border-radius: 15px;
    position: relative;
    margin-top: 15vh;
    margin-left: 35%;
    padding-top: 5vh;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(185, 185, 185, 0.05);
    overflow: hidden;
}

.full-name{
    width: 80%;
    height: 10vh;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    /*background-color: rgba(187, 187, 187, 0.74); */
    font-size: 35px;
    font-weight: bold;
}
.user-name{
    width: 80%;
    height: 6vh;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    /*background-color: rgba(180, 143, 143, 0.74); */
    font-size: 15px;
    font-weight: bold;
}
.user-email{
    width: 80%;
    height: 6vh;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    /*background-color: rgba(112, 192, 75, 0.74); */
    font-size: 15px;
    font-weight: 700;
}
.edit-profile{
    width: 20%;
    height: 5vh;
    position: relative; 
    font-size: 15px;
    font-weight: 700;
    padding-top: 1vh;
    margin-top: 10vh;
    margin-left: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(185, 185, 185, 0.05);
    border-radius: 10px;
}


.st-ft{
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 50;
}